.answer{
    background-color: #F4F6F8;
    padding-bottom: 100px;
    margin-bottom: 100px;
    &__title{
        font-weight: 700;
        font-size: 50px;
        margin: 0;
    }
    &__list{
        list-style: none;
        padding: 0;
    }
    &__item{
        cursor: pointer;
        border-bottom: 1px solid #C2C2C2;
        padding: 36px 80px;
    }
    &__item:nth-child(5){
        border: none;
    }
    &__text{
        position: relative;
        font-size: 30px;
        font-weight: 600;
        padding-left: 80px;
    }
    &__text::before{
        content:"";
        position: absolute;
        z-index: 2;
        width: 130px;
        height: 130px;
        background-image: url("images/mark-answer.svg");
        background-repeat: no-repeat;
        margin-left: -120px;
        margin-top: -25px;
    }
}
.summary{
    list-style: none;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    &::before{
        content: "";
        position: absolute;
        width: 23px;
        height: 4px;
        border-radius: 1px;
        background-color: var(--red);
        margin-left: -70px;
        margin-top: 15px;
    }
}
details::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 23px;
    border-radius: 1px;
    background-color: var(--red);
    margin-left: -60px;
    margin-top: 6px;
}
details[open]::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 23px;
    border-radius: 1px;
    background-color: var(--white);
    margin-left: -60px;
    margin-top: 6px;
    z-index: -2;
    
}

@media (max-width: 1000px){
    .summary{
        font-size: 20px;
        font-weight: 500;
        &::before{
            margin-left: -35px;
        }
    }
    details::before{
        margin-left: -25px;
    }
    details[open]::before{
        margin-left: -25px;
    }
 }
 @media (max-width: 630px){
    .answer{
        padding-bottom: 20px;
        margin-bottom: 20px;
        &__title{
            font-size: 24px;
        }
        &__item{
            padding-right: 10px;
            padding-left: 50px;
        }
        &__text{
            font-size: 20px;
            font-weight: 600;
            width: auto;
            height: auto;
            background: var(--white);
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.12);
            padding: 80px 20px 24px 20px;
            border-radius: 24px;
        }
        &__text::before{
            margin-top: -65px;
            margin-left: -20px;
            background-image: url("images/mark-answer-mobile.svg");
        }
    }
 }