.benefit{
    &__container{
    margin-bottom: 126px;
    overflow: hidden;
    }
    &__title{
        font-size: 50px;
        font-weight: 700;
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        padding: 0;
        min-width: 800px;
        margin-right: 20px;
        background-color: transparent;

    }
    &__item{
        padding: 30px 0 35px 70px;
        list-style: none;
        height: 86px;
        border-bottom: solid 1px;
        position: relative;
        width: 25vw;
        display: flex;
        justify-content: flex-start;
    }
    &__item::before{
        content: "";
        z-index: 0;
        position: absolute;
        width: 23px;
        height: 5px;
        background-color: var(--red);
        border-radius: 1px;
        left: 5px;
        top: 40px;
    }
    &__item:hover{
        color: var(--accent-color);
    }
    &__item:nth-child(13){
        border: none;
    }
    &__article{
        display: none;
        position: relative;
        width: 460px;
        height: 559px;
        box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.12);
        border-radius: 36px;
        padding: 20px;
    }
    &__article:nth-child(1){
        display: block;
        position: absolute;
    }
    &__img{
        border-radius: 36px;
    }
    &__text{
        font-size: 24px;
        font-weight: 700;
    }
    &__description{
        font-size: 16px;
        font-weight: 400;
        width: 400px;
    }
    &__buttons{
        position: absolute;
        margin-top: 470px;
        margin-left: 32px;
    }
    
    &__button:hover{
        color: var(--accent-color);
    }
    
}

.button--left{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid;
    background-color: transparent;
    background-image: url("images/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.button--right{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid;
    margin-left: 70px;
    background-image: url("images/arrow2.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    color: black;
}
.benefit-swiper{
    overflow: visible;
    perspective: 1200px;
    touch-action: pan-y;
}
.benefit__swiper-wrapper{
    gap: 40px;
    position: relative;
    z-index: 1;
    display: flex;
    transform-origin: center bottom;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    width: 461px!important;
}
.benefit__swiper-slide{
    background-color: var(--white);    
    height: 559px;
    width: 460px;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.12);
    border-radius: 36px;
    padding: 20px;
    flex-shrink: 0;
    position: absolute;
    transition-property: transform;
  
}
.benefit__swiper-pagination{
    left: -20%!important;
    //bottom: 0!important;
    //top: 15px!important;
    z-index: 30!important;
    height: 86px;
    overflow: visible!important;
}
li.swiper-slide.swiper-slide-active{
    width: 460px!important;
}
.swiper-button-prev{
    z-index: 30;
    position: absolute;
    width: 60px!important;
    height: 60px!important;
    border: 1px solid var(--black);
    border-radius: 30px;
    top: 500px!important;
    left: 60px!important;
    &::after{
        content: ""!important;
        z-index: 30;
        position: absolute;
        width: 21px;
        height: 20px;
        background-image: url(images/arrow-left.svg);
        background-repeat: no-repeat;
        left: 18px;
        bottom: 18px;
    }
    &:hover{
        border: 1px solid var(--red);
    }
}
.swiper-button-next{
    z-index: 30;
    position: absolute;
    width: 60px!important;
    height: 60px!important;
    border: 1px solid var(--black);
    border-radius: 30px;
    top: 500px!important;
    left: 130px!important;
    &::after{
        content: ""!important;
        z-index: 30;
        position: absolute;
        width: 23px;
        height: 20px;
        background-image: url(images/arrow-right.svg);
        background-repeat: no-repeat;
        left: 18px;
        bottom: 18px;
    }
    &:hover{
        border: 1px solid var(--red);
    }
}

@media (max-width:1400px){
    .benefit{
        &__list{
            column-gap: 40px;
            min-width: 600px;
        }
        &__item{
            width: 250px;
        }
    }
}
@media (max-width:1100px){
    .benefit{
        &__list{
            display: none;
        }
        &__buttons{
            display: none;
        }
        &__text{
            margin-top: 20px;
            padding-left: 16px;
        }
        &__description{
            width: 300px;
            padding-right: 16px;
            padding-left: 16px;
        }
        &__img{
            border-radius: 26px;
        }
    }
    .benefit__swiper-slide{
        margin-left: 5px;
        margin-right: 5px;
        height: 418px;  
        width: 300px;
        border-radius: 26px;
        padding: 10px;
        padding-bottom: 24px;
        &:nth-child(1){
            transform: none;
            transition-duration: 0ms;
        }
        &:nth-child(2){
            transform: none;
            transition-duration: 0ms;
        }
        &:nth-child(3){
            transform: none;
            transition-duration: 0ms;
        }
        &:nth-child(4){
            transform: none;
            transition-duration: 0ms;
        }
        &:nth-child(5){
            transform: none;
            transition-duration: 0ms;
        }
    }
    
}
@media (max-width:540px){
    .benefit{
        &__container{
            margin-bottom: 40px;
        }
        &__title{
            font-size: 24px;
        }
        
        &__text{
            font-size: 20px;
            font-weight: 600;
        }
        &__description{
            font-size: 16px;
            font-weight: 400;
            width: auto;
        }
        &__button{
            display: none;
        }
    }
}