.consultation{
    background-color: var(--white);
    margin-bottom: 110px;
    &__container{
        position: relative;
    width: 1440px;
    height: 533px;
    z-index: 3;
    background-image: url("images/background-consultation.png");
    border: 7px solid #E7E7E7;
    border-radius: 36px;
    padding: 30px 60px;
    }
    &__container::before{
    content: "";
    position: absolute;
    z-index: 1;
    width: 850px;
    height: 380px;
    background-image: url(images/hyundai2.png);
    background-repeat: no-repeat;
    bottom: -45px;
    right: -50px;
    }
    &__title{
        font-size: 50px;
        font-weight: 700;
    }
    &__description{
        font-size: 16px;
        width: 550px;
        padding-bottom: 50px;
        margin: 0;
    }
    &__button{
        background-color: var(--red);
        border: none;
        width: 310px;
        padding: 26px 10px;
        border-radius: 14px;
        color: var(--white); 
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
    }
}
.title--accent{
    color: var(--accent-color);
}

@media (max-width:1400px){
    .consultation{
        &__container{
            width: auto;
        }
    }
}
@media (max-width:1350px){
    .consultation{
        &__container::before{
            display: none;
        }
    }
}
@media (max-width:760px){
    .consultation{
        &__container{
            height: auto;
        }
        &__title{
            font-size: 24px;
        }
        &__description{
            width: auto;
        }
    }
}
@media (max-width:450px){
    .consultation{
        margin-bottom: 250px;
        &__container{
            background: none;
            border: none;
            padding: 0;
            margin: 0 auto;
            width: 328px;
        }
        &__background{
            position: absolute;
            z-index: -3;
            top: 190px;
            width: 360px;
            height: 305px;
            left: 50%;
            transform: translateX(-50%);
            background-image: url("images/background-consultation-mobile.png");
            background-repeat: no-repeat;
        }
        &__button::before{   
        content: "";
        position: absolute;
        z-index: -1;
        width: 350px;
        height: 330px;
        background-image: url(images/hyundai-mobile.png);
        background-repeat: no-repeat;
        left: -15px;
        bottom: -190px;
        }
        &__title{
            width: 300px;
        }
        &__description{
            width: 300px;
        }
    }
}