.text__wrap{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px;
}
.contact{
    margin-bottom: 160px;
    &__title{
        font-size: 50px;
        font-weight: 700;
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__map{
        width: 600px;
        height: 320px;
        border-radius: 36px;
    }
    &__text{
        font-size: 30px;
        font-weight: 500;
        grid-column: 1;
        grid-row: 1;
    }
    &__phone{
        font-size: 30px;
        font-weight: 600;
        grid-column: 3;
        grid-row: 1;
    }
    &__description{
        padding-left: 20px;
        position: relative;
        grid-column: 1;
        grid-row: 2;
    }
    &__description::before{
    content: "";
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 22px;
    background-image: url(images/map.svg);
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    }
}


.map__container{
    border-radius: 36px;
    border: 7px solid rgba(250, 0, 44, 0.2);
    padding: 25px;
}

@media (max-width:1370px){
    .contact{
        
        &__wrap{
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &__map{
            width: 100%;
        }
        &__text{
            grid-column: 1;
            grid-row: 1;
        }
        &__description{
            grid-column: 1;
            grid-row: 3;            
        }
        &__phone{
            grid-column: 1;
            grid-row: 2;
            padding-top: 10px;
        }
        .text__wrap{
            display: grid;
        }
        
    }
    
}

@media (max-width:700px){
    .contact{
        &__container{
            margin-top: 177px;
            }
            &__text{
                font-size: 20px;
            }
            &__phone{
                font-size: 20px;
            }
    }
    .text__wrap{
        display: flex;
        flex-direction: column;
    }
    .map__container{
        padding: 10px;
    }
}

    @media (max-width:370px){
        .contact{
            margin-bottom: 30px;
        &__title{
            font-size: 24px;
        }
        &__map{
            border-radius: 12px;
        }
        &__text{
            width: 100%;
        }
        &__description::before{
            bottom: 10px;
            left: -5px;
        }
        .map__container{
            border-radius: 24px;
            padding: 5px;
        }
        .text__wrap{
            padding-left: 15px;
            padding-bottom: 15px;
        }
    }
}