.example{
    background-color: var(--gray);
    margin-bottom: 100px;
    &__container{
        padding-top: 100px;
    }
}
.example__title{
    width: 800px;
    font-size: 50px;
    font-weight: 700;
}

.example__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
}

.example__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    height: 390px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 36px;
    padding: 30px;
    margin: 0 15px 15px 0;
}

.example__item:hover{
    width: 450px;
    height: 390px;
    background: linear-gradient(135deg, rgba(94, 107, 154, 1), rgba(94, 107, 154, 0)), url("images/example-background.png") ;
    color: var(--white);
}

.item__title{
    font-size: 30px;
    font-weight: 700;
}

.item__description{
    font-size: 18px;
    font-weight: 400;
}

.item__price{
    font-size: 60px;
    margin: 0;
    bottom: -50px;
}

.price__wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}

.example__price{
    font-size: 60px;
    font-weight: 700;
}

.price--active{
    color: var(--accent-color);
}

.example__wrap{
    display: flex;
    align-items: center;
}

.example__description{
    font-size: 30px;
    padding: 0 50px;
    position: relative;
    &::before{
        content: "";
        z-index: 0;
        position: absolute;
        width: 23px;
        height: 5px;
        background-color: var(--red);
        border-radius: 1px;
        left: -30px;
        bottom: 15px;

    }
}