  .header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    &__container {
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0;
  }
}

  .nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin: 0 10px;
    &__button{
      display: none;
    }
  }
  
  .nav__link{
    gap: 10px;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color: var(--black);
  }
  
  .phone__link{
    display: flex;
    position: relative;
    padding: 20px 20px 20px 50px;
    border-radius: 8px;
    width: 316px;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    background-color: var(--red);
      font-size: 18px;
      font-weight: 700;
  }

  .phone__link::before{
    content: "";
    display: block;
    z-index: 5;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 25px;
    background-image: url("images/phone.svg");
    background-repeat: no-repeat;
  }
  .menu{
    display: none;
  }

  @media (max-width:1150px){
    .header__container{
      justify-content: space-between;
      max-width: 80%;
      top: 10px;
    }
    .nav{
      display: none;
    }
    .phone__link{
      display: none;
    }
    .header__logo{
      width: 168px;
      height: 44px;
    }
    .nav{
    &__button{
      position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 17px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 0;
    left: 0;
    }
    &__span{
      height: 3px;
    width: 100%;
    background-color: var(--red);
    }
  }
  .menu{
    display: none;
    position: fixed;
    z-index: 20;
    &__container{
      position: fixed;
      z-index: 20;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 100px 500px 0 500px;
    padding-bottom: 50px;
    }   
    &__logo{
      top: 15px;
      z-index: 25;
      position: absolute;      
    left: 50%;
    transform: translateX(-50%);

    }
    &__group{
      position: relative;
      width: 80vw;
      display: flex;
      justify-content: space-between;
    }
    &__button{
      position: relative;
      width: 40px;
      height: 40px;
      background-image: url(images/menu-button.svg);
      background-repeat: no-repeat;
      background-color: white;
      //background-size: contain;
      border: none;
      top: 20px;
      cursor: pointer;
      z-index: 25;
    }
    &__nav{
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 316px;
    }
    &__link{
      font-size: 30px;
      font-weight: 700;
      text-decoration: none;
      color: var(--black);
      padding-top: 20px;
    }
    &__text{
      width: 210px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      padding-top: 60px;
      margin: 0 auto;
      margin-bottom: 34px;
    }
    &__text::before{
      content: "";
      z-index: 0;
      position: absolute;
      width: 16px;
      height: 22px;
      background-image: url("images/map.svg");
      margin-left: -25px;
    }
    &__phone{
      position: relative;
      padding: 16px 70px 16px 100px;
      border-radius: 8px;
      text-decoration: none;
      text-align: center;
      width: 20%;
      font-weight: 600;
      color: var(--white);
      background-color: var(--red);
      margin-top: 55px;
    }
    &__phone::before{
      content: "";
      display: block;
      z-index: 5;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 70px;
      background-image: url("images/phone.svg");
      background-repeat: no-repeat;
    }
  }
  .__open{
    display: block;
    
    .nav{
      &__button{
      display: none;
    }
  }
  }
}