.help{
  margin-bottom: 350px;
}
.help__container{
  position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 250px;
    &::before{
      content: "";
      position: absolute;
      z-index: -5;
      width: 100%;
      height: 100%;
      //left: 200px;
      //background-image: url(images/background-help.png);
      background-repeat: no-repeat;;
    }
  }

  .help__form{
    position: relative;
    padding: 40px 40px;
    z-index: -1;
    height: 525px;
    margin-left: 50px;
    margin-top: 100px;
    background-color: var(--white);
    border-radius: 22px;
    box-shadow: 0px 2px 50px rgba(35, 37, 38, 0.07);
  }

  .help__form::before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 790px;
    height: 350px;
    background-image: url(images/audi.png);
    background-repeat: no-repeat;
    top: 470px;
    left: -220px;
  }

  .help__title{
    font-size: 50px;
    font-weight: 700;
    width: 490px;
    margin: 0;
  }

  .help__description{
    font-size: 18px;
    font-weight: 500;
    width: 350px;
    margin-bottom: 36px;
    margin-top: 24px;
  }

  .help__text{
    margin-top: 16px;
  }
  .help__description::before{
    content: "";
    position: absolute;
    z-index: 5;
    width: 1154px;
    height: 100%;
    //background-image: url(images/road.png);
    background-repeat: no-repeat;
    top: 545px;
    left: -170px;
  }

  .form-input{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;
    width: 449px;
    height: 72px;
    border-radius: 14px;
    margin-bottom: 16px;
  }

  .help__button{
    cursor: pointer;
    position: relative;
    z-index: 5;
    padding: 25px 40px;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--red);
    border-radius: 14px;
    border-color: transparent;
    box-shadow: 0px 12px 60px var(--red);
  }

  .help__button::before{
    content: "";
    z-index: 5;
    position: absolute;
    width: 68px;
    height: 59px;
    left: calc(100% + 42px);
    top: 0;
    background-image: url("images/arrow.svg");
    background-repeat: no-repeat;
  }

  .help__list{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 80px;
    bottom: -100px;
  }

  .help__item{
    position: relative;
    width: 300px;
    list-style: none;
  }
  .help__img{
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 3px solid rgba(250, 0, 44, 0.15);
    border-radius: 10px;
  }
  .help__form-mobile{
    display: none;
  }

  .group__backgrounds{
    position: absolute;
    z-index: -5;
  }
  .background__landscape{
    position: relative;
    z-index: -3;
  }
  .background__road{
    position: relative;
    z-index: -2;
    top: -215px;
    left: -140px;
  }
  .background__auto{
    position: relative;
    z-index: 2;
    top: -670px;
    left: -120px;
  }
  .group__backgrounds-mobile{
    display: none;
  }
 
@media (max-width: 1400px){
  .help{
    &__container{
      justify-content: flex-start;
      padding: 0;
      width: auto;
    }
    &__container::before{
      left: 0;
      width: 100%;
    }
    &__item{
      width: 150px;
      padding-bottom: 50px;
    }
  }
} 
@media (max-width:1300px){
  .background__auto{
    display: none;
  }
}
@media (max-width:1050px){
  .help{
    &__container{
      width: 95vw;
      display: block;
      margin-right: 20px;
    }
    &__container::before{
      background: none;
    }
    &__title-mobile{
      font-size: 24px;
    }
    &__description-mobile{
      font-size: 14px;
      position: relative;
    }
    /*&__description-mobile::before{
      content: "";
      position: absolute;
      z-index: 2;
      width: 359px;
      height: 310px;
      background-image: url("images/background-help-mobile.png");
      background-repeat: no-repeat;  
      left: -20px; 
      top: 30px;
    }*/
    &__form{
      display: none;
    }
    &__list{
      grid-template-columns: 1fr;
      padding: 0;
      gap: 10px;
      width: 100%;
      margin: 0;
    }
    &__item{
      width: 95%;
      margin-left: 10px;
      box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.12);
      border-radius: 16px;
      padding: 96px 10px 20px 20px;
    }
    &__item:nth-child(1n)::before{
      top: 20px;
      left: 20px;
    }
    &__item:nth-last-child(2){
      padding: 96px 10px 20px 20px;
    }
    &__item:nth-last-child(1){
      padding: 96px 10px 20px 20px;
    }
    &__form-mobile{
      display: block;
      padding-left: 16px;
      margin-top: 136px;
    }
    &__button{
      box-shadow: 0px 12px 60px rgba(250, 0, 44, 0.4);
      width: 100%;
      max-width: 450px;
    }
    &__button::before{
      display: none;
    }
    &__background-mobile{
      position: relative;
    }
    /*&__background-mobile::before{
    content: "";
    position: absolute;
    z-index: 0;
    width: 355px;
    height: 290px;
    background-image: url("images/road-mobile.png");
    background-repeat: no-repeat; 
    bottom: -310px;
    left: -17px;
  }*/
  &__description-mobile{
    margin-bottom: 16px;
  }
  .form-input{
    z-index: 5;
    position: relative;
    width: 100%;
    max-width: 450px;
  }
  .form-body{
    position: relative;
  }
 /* .form-body::before{
      content: "";
      position: absolute;
      z-index: 4;
      width: 355px;
      height: 510px;
      background-image: url("images/audi-mobile.png");
      background-repeat: no-repeat;  
      bottom: -270px;
      left: -25px;
    }*/
}
.group__backgrounds{
  display: none;
}
.group__backgrounds-mobile{
  display: block;
  position: absolute;
}
.background__landscape-mobile{
  position: relative;
  top: -150px;
  z-index: -3;
}
.background__road-mobile{
  position: relative;
  top: -55px;
  z-index: -2;
  left: -365px;
}
.background__auto-mobile{
  position: relative;
  z-index: -1;
  top: -620px;
}
}
@media (max-width:755px){
  .group__backgrounds-mobile{
    display: block;
    position: absolute;
  }
  .background__landscape-mobile{
    position: relative;
    top: -150px;
    z-index: -3;
  }
  .background__road-mobile{
    position: relative;
    top: -280px;
    z-index: -2;
  }
  .background__auto-mobile{
    position: relative;
    z-index: -1;
    top: -850px;
  }
}
@media (max-width:390px){
  .help{
    &__container{
      margin-bottom: 60px;
    }
    /*&__background-mobile::before{
      bottom: -300px;
    }*/
  .form-body::before{
    bottom: -255px;
  }
}
.background__auto-mobile{
  top: -850px;
}
}
@media (max-width:360px){
  .background__auto-mobile{
    top: -810px;
  }
}