.help{
  margin-bottom: 350px;
}
.help__container{
  position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .help__form{
    position: relative;
    padding: 40px 40px;
    z-index: 2;
    height: 525px;
    margin-left: 50px;
    background-color: var(--white);
    border-radius: 22px;
    box-shadow: 0px 2px 50px rgba(35, 37, 38, 0.07);
  }

  .help__title{
    font-size: 50px;
    font-weight: 700;
    width: 490px;
    margin: 0;
  }

  .help__description{
    font-size: 18px;
    font-weight: 500;
    width: 350px;
    margin-bottom: 36px;
    margin-top: 24px;
  }

  .help__text{
    margin-top: 16px;
  }

  .form-input{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;
    width: 449px;
    height: 72px;
    border-radius: 14px;
    border: 1px solid #C9C9C9;
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
  }

  .help__button{
    cursor: pointer;
    position: relative;
    z-index: 5;
    padding: 25px 40px;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--red);
    border-radius: 14px;
    border-color: transparent;
    box-shadow: 0px 12px 60px var(--red);
  }

  .help__button::before{
    content: "";
    z-index: 5;
    position: absolute;
    width: 68px;
    height: 59px;
    left: calc(100% + 42px);
    top: 0;
    background-image: url("images/arrow.svg");
    background-repeat: no-repeat;
  }

  .help__list{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 80px;
    margin: 0;
  }

  .help__item{
    position: relative;
    width: 300px;
    list-style: none;
  }
  .help__img{
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 3px solid rgba(250, 0, 44, 0.15);
    border-radius: 10px;
  }
  .help__form-mobile{
    display: none;
  }

  .background__landscape{
    position: absolute;
    z-index: -3;
  }
  .background__road{
    position: absolute;
    z-index: -2;
    bottom: -290px;
    left: -110px;
  }
  .background__auto{
    position: absolute;
    z-index: 10;
    bottom: -150px;
    left: -85px;
  }
 
@media (max-width: 1400px){
  .help{
    &__container{
      justify-content: flex-start;
      padding: 0;
      width: auto;
    }
    &__container::before{
      left: 0;
      width: 100%;
    }
    &__item{
      width: 150px;
      padding-bottom: 50px;
    }
    &__list{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .background__auto{
    display: none;
  }
  .background__road{
    display: none;
  }
} 
@media (max-width:1300px){
  .help__list{
    gap: 30px 40px;
  }
  .help__item{
    padding: 0;
  }
  .help__form{
    width: 500px;
    padding: 20px;
  }
}
@media (max-width:1050px){
  .help{
    &__container{
      width: 95vw;
      //display: block;
      margin-right: 20px;
      display: flex;
      flex-direction: column-reverse;
    }
    &__container::before{
      background: none;
    }
    &__title-mobile{
      font-size: 24px;
    }
    &__description-mobile{
      font-size: 14px;
      position: relative;
    }
    /*&__description-mobile::before{
      content: "";
      position: absolute;
      z-index: 2;
      width: 359px;
      height: 310px;
      background-image: url("images/background-help-mobile.png");
      background-repeat: no-repeat;  
      left: -20px; 
      top: 30px;
    }*/
    &__form{
      //display: none;
      box-shadow: none;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      background-color: transparent;
    }
    &__list{
      grid-template-columns: 1fr;
      gap: 10px;
      width: 100%;
      margin: 0 auto;
      margin-left: 30px;
      padding: 0;
    }
    &__item{
      width: 95%;
      margin: 0;
      box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.12);
      border-radius: 16px;
      padding: 20px 10px 20px 20px;
    }
    &__item:nth-child(1n)::before{
      top: 20px;
      left: 20px;
    }
    &__item:nth-last-child(2){
      padding: 20px 10px 20px 20px;
    }
    &__item:nth-last-child(1){
      padding: 20px 10px 20px 20px;
    }
    &__form-mobile{
      display: block;
      padding-left: 16px;
      margin-top: 136px;
    }
    &__button{
      box-shadow: 0px 12px 60px rgba(250, 0, 44, 0.4);
      width: 450px;
    }
    &__button::before{
      display: none;
    }
    &__background-mobile{
      position: relative;
    }
  &__description-mobile{
    margin-bottom: 16px;
  }
  .form-input{
    z-index: 5;
    position: relative;
    width: 450px;
  }
  .form-body{
    position: relative;
  }
}
.group__backgrounds{
  position: absolute;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
}
.background__landscape{
  position: relative;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -3;
}
.background__road{
  display: block;
  position: relative;
  top: -180px;
  z-index: -2;  
  left: 50%;
  transform: translateX(-50%);
}
.background__auto{
  display: block;
  position: relative;
  z-index: -1;
  top: -740px;
  left: 50%;
  transform: translateX(-50%);
}
}
@media(max-width:750px){
  .help{
    &__list{
      margin-left: 20px;
    }
    }
  .background__auto{
    top: -600px;
  }
  .background__road{
    top: -160px;
  }
}
@media(max-width:630px){
  .background__auto{
    top: -570px;
  }
  .background__road{
    top: -140px;
  }
}
@media(max-width:530px){
  .help{
    &__list{
      margin-left: 10px;
    }
  }
  
  .background__auto{
    top: -480px;
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  .background__road{
    top: -100px;
  }
}
@media (max-width:500px){
  .help{
    margin-bottom: 0;
    &__form{
      padding: 10px;
      width: auto;
    }
    &__title{
      font-size: 24px;
      width: 305px;
    }
    &__description{
      font-size: 14px;
    }
    &__button{
      width: 328px;
    }
    .form-input{
      width: 328px;
    }
    
  }
  /*.background__road-mobile{
    left: 0;
  }*/
}
@media (max-width:390px){
  .help{
    &__list{
      margin-left: 7px;
    }
    &__container{
      margin-bottom: 60px;
    }
    /*&__background-mobile::before{
      bottom: -300px;
    }*/
  .form-body::before{
    bottom: -255px;
  }
}
.background__auto{
  top: -380px;
}
}