.order{
  background-color: var(--gray);
}
  
  .order__title{
    padding-top: 100px;
    font-size: 50px;
    font-weight: 700;
    width: 610px;
    margin: 0;
  }
  
  .order__description{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 70px;
    padding-top: 16px;
  }
  
  .order__list{
    display: grid;
    flex-wrap: wrap;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-inline-start: 0;
    padding-bottom: 70px;
  }
  
  .order__item{
    position: relative;
    border: 1px dashed var(--pink);
    height: 246px;
    border-top: none;
    border-left: none;
    padding: 50px 50px;
  }
  
  .order__item:nth-child(4n){
    border-right: none;
  }
  
  .order__item:hover{
    border: none;
    background-color: var(--white);
    border-radius: 22px;
    box-shadow: 0px 2px 50px rgba(35, 37, 38, 0.07);
  }
  
  .order__text{
    width: 280px;
    font-size: 18px;
    margin-top: 34px;
  }

  .wrap__number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    }

  .order__span{
    display: flex;
    border: 1px dashed var(--red);
    width: 200px;
    height: 1px;
}
  
@media (max-width:1480px){
  .order{
    &__list{
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__item:nth-child(4){
      border-right: 1px dashed var(--pink);
    }
    &__item:nth-child(3n){
      border-right: none;
    }
  }
}

@media (max-width:1200px){
  .order{
    &__list{
      grid-template-columns: 1fr 1fr;
    }
    &__item:nth-child(3){
      border-right: 1px dashed var(--pink);
    }
    &__item:nth-child(2n){
      border-right: none;
    }
  }
}
@media (max-width:800px){
  .order{
    &__list{
      grid-template-columns: 1fr;
      color: var(--red);
    }
    &__item{
      border-left:2px dashed var(--pink);
      border-bottom: none;
      border-right: none;
      display: flex;
      align-items: flex-start;
      padding: 0;
      height: auto;
      padding-left: 24px;
      padding-bottom: 25px;
    }
    &__item::before{
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: var(--red);
      border-radius: 50%;
      left: -5px;
    }
    &__item:nth-child(3){
      border-right: none;
    }
    &__item:nth-child(8){
      border-color: transparent;
    }
    &__item:hover{
      border-left:2px dashed var(--pink);
      background-color: var(--gray);
      box-shadow: none;
      border-radius: 0;
    }
    &__span{
      display: none;
    }
    &__text{
      color: var(--black);
      padding-left: 34px;
      padding-top: 0;
      margin: 0;
      width: 100%;
    }
  }
  .wrap__number{
    display: block;
      width: 35px;
  }
}

@media (max-width:630px){
  .order{
    &__container{
      margin-bottom: 40px;
    }
    &__title{
      position: relative;
      font-size: 24px;
      font-weight: 700;
      width: 280px;
      left: 0;
      padding-top: 50px;
    }
    &__description{
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 32px;
    }
  }
}