.popular__container{
    margin-bottom: 100px;
}
.popular__list{
    display: flex;
    list-style: none;
    padding: 0;
}

.popular__title{
    font-size: 50px;
    font-weight: 700;
}

.popular__img{
    border-radius: 36px;
}

.popular__item{
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.12);
    border-radius: 36px;
    padding: 15px;
    margin-right: 30px;
}

.popular__wrap{
    display: inline;
    justify-content: space-between;
}

.popular__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 190px;
}

.popular__line{
    display: flex;
    justify-content: space-between;
}

.popular__span{
    border: 1px dashed var(--black);
    width: 200px;
    height: 1px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    //height: 190px;
}

.popular__price{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-top: 1px solid;
}

.price__title{
    font-size: 25px;
    font-weight: 500;
}

.title--red{
    color: var(--red);
    font-weight: 700;
}

.price__text{
    padding-left: 30px;
    background-color: var(--light__pink);
    border-radius: 24px 0 0 24px;
    margin-top: -2px;
}

.price__button{
    font-weight: 700;
    padding: 25px 115px;
    background-color: var(--red);
    border: none;
    border-radius: 14px;
    color: var(--white);
    cursor: pointer;
}