.popular__container{
    margin-bottom: 80px;
    overflow: hidden;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 0;
}
.popular__list{
    display: flex;
    list-style: none;
    padding: 0;
}

.popular__title{
    font-size: 50px;
    font-weight: 700;
}

.popular__img{
    border-radius: 36px;
}

.popular__item{
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.12);
    border-radius: 36px;
    padding: 15px;
    margin-right: 25px;
    //width: 461px;
}

.popular__item-title{
    padding-left: 20px;
    font-size: 24px;
    font-weight: 700;
}

.popular__wrap{
    margin-bottom: 25px;
}

.popular__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 190px;
    padding-left: 20px;
}

.popular__line{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.popular__span{
    border: 0.5px dashed #C1C1C1;
    width: 70%;
    height: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 5px;
    margin-bottom: 0.25em;
}

.popular__price{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-top: 2px solid #C1C1C1;
}

.price__title{
    font-size: 25px;
    font-weight: 500;
    margin-top: 16px;
}

.title--red{
    color: var(--red);
    font-weight: 800;
}
.price__text{
    padding-left: 20px;
}
.span__wrap{
    flex-shrink: 0;
    position: relative;
    width: 120px;
    font-weight: 600;
}

.price__text-accent{
    padding-left: 20px;
    padding-bottom: 16px;
    background-color: var(--light__pink);
    border-radius: 40px 0 0 40px;
    margin-top: -2px;
}

.price__button{
    font-weight: 700;
    width: 100%;
    padding: 25px 10px;
    background-color: var(--red);
    border: none;
    border-radius: 14px;
    color: var(--white);
    cursor: pointer;
    box-shadow: 0px 10px 40px rgba(250, 0, 44, 0.4);
}
.swiper-wrapper{
    display: flex;
}
.popular-swiper{
    padding: 50px 36px 0 50px;
    margin-top: -10px;
}
.popular__swiper-wrapper{
    padding-bottom: 30px;
    margin-bottom: 32px;
}
.popular__swiper-pagination{
   --swiper-theme-color: var(--red);
   margin-top: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.popular__swiper-slide{
   flex-shrink: 1!important;
   
}
.swiper-pagination-bullet{
    background: var(--accent-color)!important;
    width: 10px!important;
    height: 10px!important;
}
.swiper-pagination-bullet-active{
    width: 14px!important;
    height: 14px!important;

}
@media (max-width: 1200px){
    .pagination{
        display: flex;
        justify-content: center;
    }
    .pagination__item{
        background-color: var(--red);
        float: left;
        margin: 26px 8px;
        text-decoration: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
        }
    .pagination--active{
        background-color: var(--red);
        border-radius: 50%;
        width: 14px;
        height: 14px;
        }
    .pagination--active:hover:not(.active) {
        background-color: var(--light__pink);
        border-radius: 50%;
        }
    .popular__price{
        display: flex;
        flex-direction: column;
    }
    .price__text{
        margin-bottom: 15px;
    }
    .price__text-accent{
        border-radius: 0 40px 40px 0;
    }
    .price__description{
        font-size: 14px;
        margin-top: 5px;
    }
    .span__wrap{
        flex-shrink: 2;
    }
}
@media (max-width: 500px){
    .popular{
        &__container{
            margin-bottom: 40px;
            padding-left: 0;
            padding-right: 0;
        }
        &__title{
            font-size: 24px;
            padding-left: 16px;
        }
        &__item-title{
            font-size: 20px;
        }
        &__item{
            margin-right: 0;
        }
    }
    .popular__swiper-wrapper{
        gap: 10px;
    }
    .popular-swiper{
        padding: 50px 36px 0 16px;
        margin-top: -10px;
    }
    .popular__swiper-slide{
        flex-shrink: 0!important;
     }
}