.review{
    background-color: #F4F6F8;
    padding-bottom: 140px;
    padding-top: 40px;
    &__title{
        font-size: 50px;
        font-weight: 700;
    }
    &__description{
        margin-bottom: 44px;
    }
    &__wrap{
        position: relative;
    }
    &__wrap::before{
        content: "";
        position: absolute;
        z-index: 5;
        width: 460px;
        height: 10px;
        background-color: red;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100% + 15px);
        border-radius: 3px;
    }
    &__button{
        position: absolute;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 3;
        width: 155px;
        height: 155px;
        border-radius: 80px;
        border: none;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        background-image: url("images/button.svg");
        background-repeat: no-repeat;
        cursor: pointer;
    }
    &__img-mobile{
        display: none;
    }
}

@media (max-width: 1000px){
    .review{
        &__button{
            width: 80px;
            height: 80px;
            background-image: url("images/button-mobile.svg");
        }
        &__wrap::before{
            width: 146px;
            height: 5px;
        }
    }
}
@media (max-width: 660px){
    .review__title{
        font-size: 24px;
    }
    .review__description{
        font-size: 16px;
    }
}
@media (max-width:450px){   
    .review{
        padding-bottom: 70px;
    } 
    .review__img{
        display: none;
    }
    .review__img-mobile{
        display: block;
        border-radius: 24px;
        width: 100vw;
        height: 100%;
    }
}
