:root{
  --black: #000000;
  --red: #FA002C;
  --white: #FFFFFF;
  --transparent__black: rgb(0, 0, 0, 0.3)
}

body{
  max-width: 1920px;
  font-family: 'Montserrat', sans-serif;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
}

body::before{
  content: " ";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 665px;
  top: 0;
  right:0;
  background-image: url(images/lightening.png);
}

.main{
  padding-left: 8vw;
}