.help{
    display: flex;
    width: 1426px;
    height: 851px;
    background-image: url(images/background-help.png);
  }

  .help__form{
    position: relative;
    padding-left: 50px;
    margin-left: 50px;
    margin-top: 100px;
    width: 500px;
    height: 525px;
    background-color: var(--white);
    border-radius: 22px;
    box-shadow: 0 0 10px;
  }

  .help__form::before{
    content: "";
    position: absolute;
    z-index: 1;
    width: 1000px;
    height: 1314px;
    background-image: url(images/audi.png);
    background-repeat: no-repeat;
    bottom: -370px;
    left: -300px;
  }

  .help__title{
    font-size: 50px;
    font-weight: 700;
    width: 490px;
  }

  .help__description{
    font-size: 18px;
    font-weight: 500;
    width: 350px;
  }

  .form-input{
    font-size: 16px;
    font-weight: 700;
    width: 449px;
    height: 72px;
    border-radius: 14px;
    margin-bottom: 16px;
  }

  .help__button{
    cursor: pointer;
    z-index: 5;
    width: 286px;
    height: 72px;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--red);
    border-radius: 14px;
    border-color: transparent;
    box-shadow: 0px 12px 60px var(--red);
  }

  .help__list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .help__item{
    width: 300px;
    list-style: none;
    padding-bottom: 121px;
  }